<VirtualHost *:80>
  ServerName local.dev
  DocumentRoot "/var/www/html"

  <Directory "/var/www/html">
    AllowOverride None
    Options -Indexes +FollowSymLinks
    Require all granted
  </Directory>

  DirectoryIndex index.php index.html


  SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1

  <FilesMatch ".+\.ph(?:ar|p|tml)$">
    SetHandler "proxy:fcgi://{{ php_server }}:{{ php_fpm_port }}"
  </FilesMatch>
# see https://wiki.apache.org/httpd/PHP-FPM
#  <FilesMatch ".+\.ph(?:ar|p|tml)$">
#    <If "-f %{REQUEST_FILENAME}">
#          SetHandler "proxy:unix:/run/php/php8.1-fpm.sock|fcgi://localhost"
#    </If>
#  </FilesMatch>
  <FilesMatch ".+\.phps$">
    # Deny access to raw php sources by default
    Require all denied
  </FilesMatch>
  # Deny access to files without filename (e.g. '.php')
  <FilesMatch "^\.ph(?:ar|p|ps|tml)$">
    Require all denied
  </FilesMatch>
</VirtualHost>

