# Proxy stuff
# include /etc/nginx/snippets/nginx-proxy-params.conf;
proxy_http_version 1.1;
proxy_set_header Connection "";
{% if haproxy_ips is defined %}
{% if nginx_proxy_define_header_host %}
proxy_set_header Host $http_host;
{% endif %}
{% if nginx_behind_haproxy_settings %}
proxy_set_header X-Real-IP $remote_addr;
proxy_set_header X-Forwarded-Host {{ nginx_x_forwarded_host }};
proxy_set_header X-Forwarded-Server $host;
{% endif %}
{% else %}
{% if nginx_proxy_define_header_host %}
proxy_set_header Host $host;
{% endif %}
{% if nginx_define_x_real_ip %}
proxy_set_header X-Real-IP $remote_addr;
{% endif %}
{% endif %}
{% if nginx_set_original_uri %}
proxy_set_header nginx-request-uri $request_uri;
{% endif %}
proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
proxy_set_header X-Forwarded-Proto {{ nginx_proxy_header_x_forwarded_proto }};
proxy_buffering {{ nginx_proxy_buffering }};
proxy_buffer_size {{ nginx_proxy_buffer_size }};
proxy_buffers {{ nginx_proxy_buffers }};
proxy_busy_buffers_size {{ nginx_proxy_busy_buffers_size }};
proxy_temp_file_write_size {{ nginx_proxy_temp_file_write_size }};
proxy_redirect {{ nginx_proxy_redirect }};
proxy_connect_timeout {{ nginx_proxy_connect_timeout }};
proxy_read_timeout {{ nginx_proxy_read_timeout }};
proxy_send_timeout {{ nginx_proxy_send_timeout }};
{% if ansible_distribution_version == 'Ubuntu' and ansible_distribution_major_version >= '16' %}
proxy_force_ranges {{ nginx_proxy_force_ranges }};
{% endif %}

